In [60]:
import numpy as np # linear algebra
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn import metrics
from sklearn.metrics import confusion_matrix,classification_report
from joblib import dump,load

In [61]:
df=pd.read_csv(r'C:\Users\91949\Desktop\Desktop\IITM DS\NLP\spam.csv', encoding='latin1')

In [62]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [63]:
df.rename(columns={'v1':'spam/ham','v2':'message'})

,spam/ham,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [64]:
df['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [65]:
X=df['v2']
y=df['v1']
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [66]:
count_vec=CountVectorizer()

In [67]:
count_vec.fit(X_train)
X_train_counts=count_vec.fit_transform(X_train)

In [68]:
X_train_counts

<4179x7381 sparse matrix of type '<class 'numpy.int64'>'
	with 55298 stored elements in Compressed Sparse Row format>

In [69]:
text_clf=Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [70]:
model=text_clf.fit(X_train,y_train)

In [71]:
predictions=model.predict(X_test)

In [72]:
print(confusion_matrix(y_test,predictions))

[[1202    2]
 [  16  173]]

In [73]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         ham       0.99      1.00      0.99      1204
        spam       0.99      0.92      0.95       189

    accuracy                           0.99      1393
   macro avg       0.99      0.96      0.97      1393
weighted avg       0.99      0.99      0.99      1393

In [74]:
metrics.accuracy_score(y_test,predictions)

0.9870782483847811

In [82]:
dump(model,'C:\\Users\\91949\\Desktop\\Desktop\\Detecting_Spam_Messages\\model_spam_detection.joblib')

['C:\\Users\\91949\\Desktop\\Desktop\\Detecting_Spam_Messages\\model_spam_detection.joblib']

In [49]:
model_in=load('model_spam_detection')

In [59]:
model_in.predict(['Congratulations!!! you won a lottery of Rs.5,00,000/- please contact us to access your winning amount'])

array(['spam'], dtype=object)